<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".Classes.Notifications"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreeKick"
        tools:targetApi="32">
        <activity
            android:name=".Activities.DebtorProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.DebtorData"
            android:exported="false" />
        <activity
            android:name=".Activities.ShopID"
            android:exported="false" />
        <activity
            android:name=".Activities.CodeVerification"
            android:exported="false" />
        <activity
            android:name=".Activities.Login"
            android:exported="false" />
        <activity
            android:name=".Activities.Controllers"
            android:exported="false" />
        <activity
            android:name=".Activities.Revenue"
            android:exported="false" />

        <receiver
            android:name=".Receivers.AlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name=".Receivers.PasswordRemovalReceiver"
            android:enabled="true" />

        <service
            android:name=".Services.VibrationNotificationService"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".Services.PasswordRemovalService" />

        <activity
            android:name=".Classes.Capture"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
        <activity
            android:name=".Activities.Main"
            android:exported="false" />
        <activity
            android:name=".Activities.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>